# Global owner
*       @cbelteton-sudo

# Backend / API
/src/       @cbelteton-sudo
/prisma/    @cbelteton-sudo
/docker/    @cbelteton-sudo

# Frontend / Web
/web/       @cbelteton-sudo

# DevOps / CI/CD
/.github/   @cbelteton-sudo
Dockerfile  @cbelteton-sudo
docker-compose.yml @cbelteton-sudo

# Specs
/spec/      @cbelteton-sudo
